[db_server:children]
db_master
db_slave

[db_master:children]
instance1

[db_slave:children]
instance2
instance3  

{% for item in os_instance.results %}
[{{ item.server.name }}]
{{ item.server.public_v4 }}

{% endfor%}