.search {
  width: 80%;
  position: relative;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

.searchTerm {
  width: 80%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  
}

.searchTerm:focus{
  color: #00B4CC;
}


.timesearch {
  width: 80%;
  position: relative;
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;
}

.search_time {
  width: 40%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  
}

.search_time:focus{
  color: #00B4CC;
}

.searchtimeButton {
  width: 50px;
  height: 36px;
  outline: none;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 25px;
  font-family:unicorn;
}

.switchButton {
  outline: none;
  width: 100px;
  height: 36px;
  outline: none;
  border: 3px solid #fff;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 4em;
  cursor: pointer;
  font-size: 30px;
  line-height: 25px;
  font-family:unicorn;
}





.searchButton {
  width: 50px;
  height: 36px;
  outline: none;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 25px;
  font-family:unicorn;
}


.linechartBtn {
  outline: none;
  width: 60px;
  height: 32px;
  outline: none;
  border: 3px solid #fff;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 4em;
  cursor: pointer;
  font-size: 30px;
  line-height: 25px;
  font-family:unicorn;
}

.piechartBtn {
  outline: none;
  width: 60px;
  height: 32px;
  outline: none;
  border: 3px solid #fff;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 4em;
  cursor: pointer;
  font-size: 30px;
  line-height: 25px;
  font-family:unicorn;
}

.barchartBtn {
  outline: none;
  width: 60px;
  height: 32px;
  outline: none;
  border: 3px solid #fff;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 4em;
  cursor: pointer;
  font-size: 30px;
  line-height: 25px;
  font-family:unicorn;
}

.radarchartBtn {
  outline: none;
  width: 80px;
  height: 32px;
  outline: none;
  border: 3px solid #fff;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 4em;
  cursor: pointer;
  font-size: 30px;
  line-height: 25px;
  font-family:unicorn;
}

.mixedBtn1 {
  outline: none;
  width: 250px;
  height: 32px;
  outline: none;
  border: 3px solid #fff;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 4em;
  cursor: pointer;
  font-size: 30px;
  line-height: 25px;
  font-family:unicorn;
  margin-top: 10px;
}

.mixedBtn2 {
  outline: none;
  width: 250px;
  height: 32px;
  outline: none;
  border: 3px solid #fff;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 4em;
  cursor: pointer;
  font-size: 30px;
  line-height: 25px;
  font-family:unicorn;
  margin-top: 10px;
}

@font-face {
    font-family:"unicorn";
    src:url("../fonts/GoodUnicornRegular-Rxev.ttf");
}