#PopupTable {
  position: relative;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size:15px;
  margin:15px 0 0 0;
}

#PopupTable td, #PopupTable th {
  border: 1px solid #ddd;

}
#PopupTable tr:nth-child(even){
	background-color: #343A40;
	color:white;
}

#PopupTable th {
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  background-color: #00B4CC;
  font-size:13px;
  color: white;
}