[common]
server_addr = 45.88.195.224
server_port = 7000
token = COMP90024

[ssh]
type = tcp
local_ip = 127.0.0.1
local_port = 22
remote_port = 6000

[couchdb]
type = http
local_port = 5984
subdomain = couchdb