version: '3.8'

services:
  user_expansion:
    image: qiangxinglin/expand
    restart: always
    container_name: expand
    environment:
      http_proxy: '{{ proxy }}'
      https_proxy: '{{ proxy }}'
